@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} 

header{
    width: 100%;
    height: 6rem;
    background-color: #450055;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem 0px 0px 0px;
    position: sticky;
    top: 0;
}

.top-head{
    width: 99%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.title{
    width: 10rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    cursor: pointer;
}
.cancel{
    padding-right: 1rem;
}

.title h4{
    font-weight: 500;
}

nav{
    width: 99%;
    padding: 0rem 0.2rem;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
ul li{
    list-style-type: none;
    height: 80%;
    padding: 0px 2rem;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: white;
}
.active{
    border-bottom: 2px solid white;
}

main{
    width: 100%;
    padding: 0.4rem 0rem;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 45rem;
    background-color: #202124;
    display: flex;
    flex-direction: column;
}

.table-head{
    padding: 1rem 1.3rem;
    background-color: #303134;
}
.table-head h6{
    font-weight: 400;
    color: #858A90;
}
.selectDiv{
    display: flex;
    justify-content: flex-start;
    color: #4487F6;
    align-items: flex-start;
}

.selectDiv i{
    margin-top: -0.1rem;
}

select{
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    color: #4487F6;
    background-color: #303134;
    appearance: none;
    padding-right: 0.5rem;
}

option{
    background-color: #303134;
    border: none;
}

.table{
    width: 100%;
}
table{
    width: 100%;
    padding: 1em;
    border-collapse: collapse;
}
th, td{
    text-align: left;
    padding: 0.7rem 0.5rem;
    font-size: 12px;
    color: #9aa0a6;
    font-weight: 400;
}
tr{
    border-top: 1px solid #9aa0a6;
}

tr:hover{
    background-color: #050505;
}
td .fa-minus{
    padding: 0.15rem 0.2rem;
    background-color: #9AA0A6;
}
td .fa-times{
    padding: 0.15rem 0.3rem;
    background-color: #EA4335;
}
td i {
    background-color: #3AA757;
    padding: 0.15rem ;
    border-radius: 50%;
    color: white;
}
li span{
    margin: 0px 0.3rem;
}
li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img{
    width: 22px;
    height: 22px;
}