@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} 

header{
    width: 100%;
    height: 11rem;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
}


header section{
    display: flex;
    width: 100%;
    /* height: 30%; */
}
.header-top{
    height: 29%;
    padding: 0.4rem 0px;
}
.teams-logo{
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 2rem;
}
.header-middle{
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #37003c;
}
menu{
    width: 88%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom{
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.links{
    width: 89%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}
.stick{
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0px 1px 0px 0px rgba(9,30,66,.25) ;
}


nav{
    width: 90%;
    height: 100%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav ul li{
    font-size: 12px;
    height: 95%;
    font-weight: 300;
}


nav ul li:hover,#nav-active{
    border-bottom: 4px solid #9C42E1;
}

nav ul li a{
    text-decoration: none;
    padding: 0px 0.8rem;
    color: #7B7B75;
}

aside{
    width: 6%;
    height: 100%;
    display: flex;
    padding: 0px 0.2rem;
    justify-content: space-around;
    align-items: center;
    color: #7B7B75;
    font-size: 12px;
    height: 95%;
    font-weight: 300;
}

aside i{
    color: black;
}

.menu-left span{
    font-size: small;
}
.menu-left{
    width: 59%;
    height: 100%;
    display: flex;
}

.menu-left ul{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu-left ul li{
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

.menu-left ul li:hover .dropdown-menu{
    display: block;
}

.menu-left ul li:hover .dropdown-icon{
    color: #FF2882;
}

.menu-left ul li:hover .dropdown-icon i{
    display: block;
}

.dropdown-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}


.dropdown-icon i{
    display: none;
    margin-bottom: -0.55rem;
    font-size: 1rem;
}

.dropdown-menu{
    background-color: #FF2882;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3.8rem;
    display: none;
    z-index: 1;
}

.dropdown-items{
    background-color: #FF2882;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1em 1rem 1em 1.5rem;
}

.dropdown-items ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-items ul li a{
    line-height: 2;
    min-width: 7rem;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: small;
}

.dropdown-items ul li a:hover{
    text-decoration: underline;
}

.menu-left ul li .fa-sort-desc{
    padding-left: 0.9rem;
    margin-top: -0.45rem;
}

.menu-right{
    width: 27%;
    height: 90%;
    display: flex;
    align-items: center;
}

.menu-right ul{
    width: 85%;
    height: 60%;
    border-left: 1px solid #5F3363;
    border-right: 1px solid #5F3363;
}

.menu-right ul li {
    font-size: small;
}

.menu-right ul a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
}

.menu-right .search-icon{
    height: 90%;
    width: 15%;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    align-items: center;
    font-size: small;
}

.teams-logo span{
    width: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #76766F;
    font-size: 15px;
}

.teams-logo span h6{
    font-weight: 500;
}


.teams-logo img{
    width: 30px;
    height: 30px;
}

.teams-logo img:hover{
    width: 40px;
    height: 40px;
}


.top-head{
    width: 99%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.title{
    width: 10rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    cursor: pointer;
}
.cancel{
    padding-right: 1rem;
}

.title h4{
    font-weight: 500;
}


/* ul{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
ul li{
    list-style-type: none;
    height: 80%;
    padding: 0px 2rem;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: white;
} */
#active{
    display: block;
}

main{
    width: 100%;
    padding: 0.4rem 0rem;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-head{
    padding: 1rem 1.3rem;
    background-color: #303134;
}
.table-head h6{
    font-weight: 400;
    color: #858A90;
}
.selectDiv{
    display: flex;
    justify-content: flex-start;
    color: #4487F6;
    align-items: flex-start;
}

.selectDiv i{
    margin-top: -0.1rem;
}

select{
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    color: #4487F6;
    background-color: #303134;
    appearance: none;
    padding-right: 0.5rem;
}

option{
    background-color: #303134;
    border: none;
}

.table{
    width: 100%;
}
table{
    width: 100%;
    padding: 1em;
    border-collapse: collapse;
}
th, td{
    text-align: left;
    padding: 0.7rem 0.5rem;
    font-size: 12px;
    color: #9aa0a6;
    font-weight: 400;
}
tr{
    border-top: 1px solid #9aa0a6;
}

tr:hover{
    background-color: #050505;
}
td .fa-minus{
    padding: 0.15rem 0.2rem;
    background-color: #9AA0A6;
}
td .fa-times{
    padding: 0.15rem 0.3rem;
    background-color: #EA4335;
}
td i {
    background-color: #3AA757;
    padding: 0.15rem ;
    border-radius: 50%;
    color: white;
}
li span{
    margin: 0px 0.3rem;
}
li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.premie-league-logo{
    position: absolute;
    width: 130px;
    height: 100%;
    background-color: white;
    left: 0;
    padding-bottom: 0.4rem;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 60px;
    display: flex;
}

.premie-league-logo svg {
    border-radius: 50%;
    width: 80%;
    height: 70%;
    margin: auto;
    fill: #37003c;
}

.section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37003c;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-top: -0.05rem;
    /* margin-bottom: 2rem; */
    padding: 4rem 2rem 4rem 1rem;
    position: relative;
    background-image: url('https://www.premierleague.com/resources/prod/v6.111.2-4807/i/bg-elements/heading-bg-desktop.svg');

}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #37003c; */
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 2rem 1rem;
    position: relative;
}

.filter-div{
    width: 100%;
    height: 50px;
    padding: 1rem;
    /* background-color: green; */
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 20% 20% 20% 39%;
    grid-template-rows: 1fr;
    column-gap: 5px;
}

.filter-div div:nth-child(1),
.filter-div div:nth-child(2),
.filter-div div:nth-child(3)
{
    border-right: 1px solid #e8e8e8;
}

.section-title h1{
    font-size: 75px;
    font-weight: 600;
    color: white;
}

.section-title span{
    padding: 0.5rem 0.8rem;
    border-radius: 3px;
    background-color: white;
    font-size: small;
}
.section-title span:hover{
    background-color: #FF2882;
    cursor: pointer;
    color: white;
}

.next-section-btn{
    width: 19rem;
    height: 4rem;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.next-section-btn button{
    height: 42px;
    padding: .375rem 1.86rem;
    background-color: #EBEBE6;
    line-height: 1.5;
    border-top-left-radius: .275rem;
    border-top-right-radius: .275rem;
    border: none;
    font-size: small;
    font-weight: 400;
}
.extra-btn:hover{
    background-color: #FF2882;
    color: white;

}

#active-btn{
    background-color: white;
    font-weight: 600;
}
